@charset "UTF-8";
/* 本文件是用来测试Elf库的 */
.clearfix {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.displayNone {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

.clearfix {
  *height: 1%; }
  .clearfix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden; }

ell {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }

.clearfix {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; }

.arrow {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 20px;
  cursor: pointer;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent red transparent;
  border-top: none; }

.fZ {
  /* 如果浏览器不支持rem将使用这个规则进行覆盖 */
  font-size: 14px;
  font-size: 0.875rem; }

.opacity {
  opacity: 14;
  /* IE8 */
  filter: alpha(opacity=1400); }

.bC {
  background-color: #000; }

.bP {
  background-position: top right; }

.lS {
  letter-spacing: -5px; }

.tD {
  text-decoration: none; }

.fW {
  font-weight: 500; }

.listST {
  list-style-type: none; }

.oC {
  outline: #FF0; }
